image file1.img {
	file {}
	name = "exec-test"
	exec-pre = "./exec-check.sh file1.img"
}

image file2.img {
	file {}
	name = "exec-test"
	mountpoint = "/"
	exec-post = "./exec-check.sh file2.img"
}

image file3.img {
	file {}
	name = "exec-test"
	empty = true
	exec-pre = "./exec-check.sh file3.img empty"
}

image file4.img {
	file {}
	name = "exec-test"
	empty = true
	mountpoint = "/"
	exec-post = "./exec-check.sh file4.img empty"
}
