image test.gpt-overlap1 {
	hdimage {
		partition-table-type = "gpt"
	}

	partition SPL {
		# This should fail due to placing something on top of the GPT array.
		offset = 1K
		size = 24K
		in-partition-table = false
		image = "3K.img"
	}

	partition aaa {
		in-partition-table = true
		offset = 1M
		image = "70K.img"
	}

}
