image gpt-partition-types.img {
	/* note: set non-random disk-uuid and partition-uuid */
	hdimage {
		partition-table-type = "gpt"
		disk-uuid = "b0326371-955b-42e3-ad81-ad0151d813ec"
	}
	partition part1 {
		partition-type-uuid = "linux"
		partition-uuid = "3c1e674d-4bfd-4347-a1ab-4bb5d258b361"
		size = 1M
	}
	partition part2 {
		partition-type-uuid = "U"
		partition-uuid = "6a879323-b5f9-4275-9bb0-1c881048cba2"
		size = 1M
	}
	partition part3 {
		partition-type-uuid = "swap"
		partition-uuid = "9ea7f2d5-ea3f-431a-a9a5-16cabbca7f1b"
		size = 1M
	}
	partition part4 {
		partition-type-uuid = "3df8f8b0-4464-4fe6-8df4-2a5e2f6c4949"
		partition-uuid = "7dd9bebe-1c35-4886-a26c-2b784f172d89"
		size = 1M
	}
	partition part5 {
		partition-type-uuid = "usr-loongarch64-verity-sig"
		partition-uuid = "ae7784a0-a0b7-4ef4-94c4-c3ef78b00176"
		size = 1M
	}
}
