image test.gpt-overlap3 {
	hdimage {
		partition-table-type = "gpt"
		gpt-location = 30K
	}

	partition SPL {
		offset = 1K
		size = 24K
		in-partition-table = false
		image = "3K.img"
	}

	partition aaa {
		# The GPT partition table array occupies 16K, so this should fail.
		in-partition-table = true
		offset = 32K
		image = "70K.img"
		size = 1M
	}

}
