image hybrid.hdimage {
	hdimage {
		partition-table-type = "hybrid"
		fill = "true"
		disk-uuid = "afcfea87-e41a-40e0-85ae-295c60773c7a"
	}
	partition part1 {
		align = 1M
		image = "part1.img"
		size = 1M
		partition-uuid = "92762261-e854-45c1-b4c9-fc5e752034ab"
		partition-type = 0x83
	}
	partition part2 {
		image = "part2.img"
		size = 1M
		partition-type-uuid = "L"
		partition-uuid = "41061242-1d5a-4657-892d-fcc1fdb11a6c"
		partition-type = 0x83
	}
	partition part3 {
		image = "part1.img"
		size = 1M
		partition-type-uuid = "S"
		partition-uuid = "954532ea-bd86-4992-a1ed-2cdb2c18581a"
		partition-type = 0x83
	}
	partition part4 {
		image = "part2.img"
		size = 1M
		partition-type-uuid = "F"
		partition-uuid = "6d04bf47-3ddf-4a75-919b-c7bf46f2ef92"
	}
	partition part5 {
		image = "part1.img"
		size = 1M
		partition-uuid = "92762261-e854-45c1-b4c9-fc5e752034ab"
	}
	partition part6 {
		image = "part2.img"
		size = 1M
		partition-uuid = "c9460c06-fbc0-48ae-b4f3-3e897d3ebe71"
	}
}

image mbr.hdimage {
	hdimage {
		partition-table-type = "mbr"
		fill = "true"
	}
	partition part1 {
		align = 1M
		image = "part1.img"
		size = 1M
		partition-type = 0x83
	}
	partition part2 {
		image = "part2.img"
		size = 1M
		partition-type = 0x83
	}
	partition part3 {
		image = "part1.img"
		size = 1M
		partition-type = 0x83
	}
	partition fake-gpt {
		/* position of the GPT */
		offset = 1s
		/* size of the GPT header + table */
		size = 33s
		/* type of the protective enty */
		partition-type = 0xEE
	}
}
