image test.hdimage {
	hdimage {
		partition-table-type = "gpt"
		gpt-location = 768K
		disk-uuid = "afcfea87-e41a-40e0-85ae-295c60773c7a"
	}
	partition rescue {
		image = "part1.img"
		offset = 2M
		size = 1M
                partition-uuid = "9f60b7f0-f4c8-42d4-8469-be6c19904994"
	}
	partition rootfs-A {
		image = "part2.img"
		align = 2M
		size = 8M
		partition-type-uuid = "L"
                partition-uuid = "0cfa71d4-3388-4f08-8fa0-f66e46ec5a0e"
	}
	partition rootfs-B {
		image = "part2.img"
		align = 2M
		size = 8M
		partition-type-uuid = "L"
                partition-uuid = "b9cc42b2-d030-4eca-9922-5f88e32c94bc"
	}
	partition reserved {
		image = "part1.img"
		size = 128K
                partition-uuid = "cb597eaf-5662-44d9-8127-dc5e8c1b830d"
	}
	partition sys {
		image = "part1.img"
		size = 4M
		partition-type-uuid = "L"
                partition-uuid = "c9d69b9a-a561-42ef-88df-2ba25328e6ef"
	}
	partition data {
		image = "part1.img"
		size = 4M
                partition-uuid = "b7104ed8-6ac9-4f80-96e2-9d57ff5f3453"
	}

	partition bootloader {
		image = "part2.img"
		size = 1M
		offset = 1M
                partition-uuid = "de9980f1-0449-4e83-84bd-98e4b1ca3fe3"
	}
	partition env-1 {
		image = "part1.img"
		offset = 800K
		size = 16K
                partition-uuid = "eb3b107b-ae9d-4c6b-994a-ec412d36959b"
	}
	partition env-2 {
		image = "part1.img"
		offset = 832K
		size = 16K
                partition-uuid = "6e7c8caa-c119-43b9-8031-fcdfa34c3fae"
	}
	partition ucode {
		image = "part1.img"
		offset = 960K
		size = 64K
                partition-uuid = "b1a7539f-8e86-4a31-94c6-090c08f5a3d3"
	}

	partition SPL {
		image = "part1.img"
		in-partition-table = false
		offset = 1K
		size = 512K
	}
}
