image test.hdimage {
	hdimage {
		partition-table-type = "hybrid"
		disk-signature = 0x12345678
	}
	partition part1 {
		size = 1M
		partition-type-uuid = L
	}
	partition part2 {
		size = 1M
		partition-type = 0x83
	}
	partition part3 {
		size = 1M
		partition-type = 0x83
	}
	partition part4 {
		size = 1M
		partition-type = 0x83
	}
	partition part5 {
		size = 1M
		/* at most 3 MBR partitions are allowed in hybrid mode */
		partition-type = 0x83
	}
}
