image test.hdimage {
	hdimage {
		align = 1M
		extended-partition = 1
	}
	partition extended1 {
		image = "part1.img"
		partition-type = 0x83
	}
	partition extended2 {
		image = "part1.img"
		partition-type = 0x83
	}
	partition extended3 {
		image = "part1.img"
		partition-type = 0x83
	}
	partition extended4 {
		image = "part1.img"
		partition-type = 0x83
	}
	partition primary2 {
		image = "part1.img"
		partition-type = 0x83
		forced-primary = "yes"
	}
	partition extended5 {
		image = "part1.img"
		partition-type = 0x83
		/* extended partition would overlap the forced-primary one */
	}
}
