image test.hdimage {
	hdimage {
		align = 1M
		extended-partition = 3
	}
	partition primary1 {
		image = "part1.img"
		partition-type = 0x83
	}
	partition primary2 {
		image = "part1.img"
		partition-type = 0x83
	}
	partition extended1 {
		image = "part1.img"
		partition-type = 0x83
	}
	partition extended2 {
		image = "part1.img"
		partition-type = 0x83
	}
	partition primary3 {
		image = "part1.img"
		partition-type = 0x83
		forced-primary = "yes"
	}
	partition primary4 {
		image = "part1.img"
		partition-type = 0x83
		/* would be 5th primary partition */
		forced-primary = "yes"
	}
}
