image test.hdimage {
	hdimage {
		disk-signature = 0x12345678
	}
	partition part1 {
		offset = 1M
		size = 1M
		partition-type = 0x83
	}
	partition part2 {
		offset = 2M
		size = 1M
		partition-type = 0x83
	}
	partition part3 {
		offset = 3M
		size = 1M
		partition-type = 0x83
	}
	partition part4 {
		/* this will overlap with the EBR */
		offset = 4M
		size = 1M
		partition-type = 0x83
	}
	partition part5 {
		offset = 5M
		size = 1M
		partition-type = 0x83
	}
}
