image test.hdimage {
	hdimage {
		extended-partition = 3
	}
	partition part1 {
		offset = 128K
		size =  256K
		partition-type = 0x83
	}
	partition part2 {
		size = 3072K
		partition-type = 0x83
	}
	partition part3 {
		offset = 3686400
		size = 8126464
		partition-type = 0x83
	}
	partition part4 {
		offset = 11821056
		size = 16252928
		partition-type = 0x83
	}
	partition part5 {
		offset = 28082176
		size = 16252928
		partition-type = 0x83
	}
}
