image test.hdimage {
	hdimage {
		align = 1M
		fill = true
		disk-signature = 0x12345678
	}
	partition part1 {
		image = "part1.img"
		size = 1M
		partition-type = 0x83
	}
	partition part2 {
		image = "part3.img"
		size = 1M
		partition-type = 0x83
	}
	partition part3 {
		image = "part1.img"
		size = 1M
		partition-type = 0x83
	}
	partition part4 {
		image = "part2.img"
		size = 1M
		partition-type = 0x83
	}
	partition part5 {
		image = "part1.img"
		size = 1M
		partition-type = 0x83
	}
	partition part6 {
		image = "part2.img"
		size = 1M
		partition-type = 0x83
	}
}

image test.hdimage-2 {
	hdimage {
		align = 1M
		disk-signature = 0x12345678
		extended-partition = 2
	}
	partition part1 {
		image = "part1.img"
		size = 1M
		partition-type = 0x83
	}
	partition part2 {
		image = "part2.img"
		size = 1M
		partition-type = 0x83
	}
	partition part3 {
		image = "part1.img"
		size = 1M
		partition-type = 0x83
	}
	partition part4 {
		image = "part2.img"
		size = 1M
		partition-type = 0x83
	}
	partition part5 {
		image = "part1.img"
		size = 1M
		partition-type = 0x83
	}
	partition part6 {
		image = "part2.img"
		autoresize = true
		partition-type = 0x83
	}
	size = 12M
}
