image test.hdimage {
	hdimage {
		align = 1M
		extended-partition = 1
	}
	partition part1 {
		image = "part1.img"
		partition-type = 0x83
		forced-primary = "yes"
		/* forced-primary can be only used for partitions defined after the extended partition */
	}
	partition part2 {
		image = "part1.img"
		partition-type = 0x83
	}
	partition part3 {
		image = "part1.img"
		partition-type = 0x83
	}
	partition part4 {
		image = "part1.img"
		partition-type = 0x83
	}
	partition part5 {
		image = "part1.img"
		partition-type = 0x83
	}
}
