image test.hdimage {
	hdimage {
		align = 1M
		disk-signature = 0x12345678
		extended-partition = 2
	}
	partition part1 {
		image = "part1.img"
		partition-type = 0xc
		bootable = "yes"
	}
	/*
	* partition 2 will be the extended partition entry
	* partitions 3-4 will be primary partitions at the end
	* partition 5 is first logical partition of the extended partition
	*/
	partition part5-logical {
		image = "part1.img"
		partition-type = 0x83
	}
	partition part6-logical {
		image = "part2.img"
		partition-type = 0x83
	}
	partition part7-logical {
		image = "part1.img"
		partition-type = 0x83
	}
	partition part8-logical {
		image = "part2.img"
		partition-type = 0x83
	}
	partition part9-logical {
		image = "part1.img"
		partition-type = 0x83
	}
	partition part3 {
		image = "part1.img"
		partition-type = 0x83
		forced-primary = "yes"
	}
	partition part4 {
		image = "part2.img"
		partition-type = 0x82
		forced-primary = "yes"
	}
}
