image test.hole {
	hdimage {
		partition-table-type = "gpt"
		gpt-location = ${GPT_LOCATION:-1K}
	}

	partition bootloader {
		in-partition-table = false
		offset = ${OFFSET:-0}
		image = "70K.img"
	}

	partition foo {
		offset = 129K
		image = "3K.img"
	}
}

image 70K.img {
	file {
		holes = "(440; 33K)"
	}
}
