image test.mdraid-a {
	mdraid {
		level = 1
		devices = 2
		timestamp = 638022222
		raid-uuid = "de9980f1-0449-4e83-84bd-98e4b1ca3fe3"
		disk-uuid = "eb3b107b-ae9d-4c6b-994a-ec412d36959b"
	}
	size = 5M
}

image test.mdraid-b {
	mdraid {
		parent = "test.mdraid-a"
	}
}

image test.mdraid-1.0-b {
	mdraid {
		parent = "test.mdraid-1.0-a"
	}
}

image test.mdraid-1.0-a {
	mdraid {
		metadata = "1.0"
		level = 1
		devices = 2
		timestamp = 638022222
		raid-uuid = "9f3c2a1b-7e64-4d91-b8c5-0a1f2e3d4c5b"
		disk-uuid = "4c5d6e7f-8a9b-0c1d-2e3f-4a5b6c7d8e9f"
	}
	size = 5M
}
