image test.raucb {
	rauc {
		file content.img { image = "rauc.content" }
		manifest = "
			[update]
			compatible=genimage-test
			version=42
			build=23
			description='genimage rauc test'

			[image.rootfs]
			filename=content.img
			"
		cert = "signing-ca/signing.cert.pem"
		key = "signing-ca/signing.key.pem"
		keyring = "signing-ca/ca.cert.pem"
	}
}
image test2.raucb {
	rauc {
		file data.img {
			image = "rauc2.content"
			offset = 1
		}
		manifest = "
			[update]
			compatible=genimage-test
			version=42
			build=23
			description='genimage rauc test'

			[image.rootfs]
			filename=data.img
			"
		cert = "signing-ca/signing.cert.pem"
		key = "signing-ca/signing.key.pem"
	}
}
