image test.raucb {
	rauc {
		file content { image = "rauc.content" }
		manifest = "
			[update]
			compatible=genimage-test
			version=42
			build=23
			description='genimage rauc test'

			[image.rootfs]
			filename=content
			"
		cert = "rauc-openssl-ca/rauc.cert.pem"
		key = "rauc-openssl-ca/rauc.key.pem"
		keyring = "rauc-openssl-ca/ca.cert.pem"
	}
}
image test2.raucb {
	rauc {
		file data {
			image = "rauc2.content"
			offset = 1
		}
		manifest = "
			[update]
			compatible=genimage-test
			version=42
			build=23
			description='genimage rauc test'

			[image.rootfs]
			filename=data
			"
		cert = "rauc-openssl-ca/rauc.cert.pem"
		key = "rauc-openssl-ca/rauc.key.pem"
	}
}
