image test.hdimage {
	hdimage {
		align = 1M
		partition-table-type = "gpt"
		disk-uuid = "afcfea87-e41a-40e0-85ae-295c60773c7a"
	}
	partition part1 {
		image = "part1.img"
		size = 10M
		partition-uuid = "92762261-e854-45c1-b4c9-fc5e752034ab"
	}
	partition part2 {
		image = "part2.img"
		size = 10M
		partition-type-uuid = "L"
		partition-uuid = "41061242-1d5a-4657-892d-fcc1fdb11a6c"
	}
	size = 22M
}

image test.sparse {
	android-sparse {
		image = test.hdimage
	}
}

image interleaved.sparse {
	android-sparse {
		image = interleaved
		block-size = 32k
	}
}

image not-aligned.sparse {
	android-sparse {
		image = not-aligned
		block-size = 4k
	}
}
