
include("flash.conf")

#-----------------------------------

image data.tgz {
	tar {}
	mountpoint = "/data"
}

image nand-pcm038.img {
	flash {
	}
	flashtype = "nand-64M-512"
	partition barebox {
		image = "barebox-pcm038.bin"
		size = 512K
	}
	partition bareboxenv {
		image = "bareboxenv-pcm038.bin"
		size = 512K
	}
	partition kernel {
		image = "kernel-imx.bin"
		size = 4M
	}
	partition root {
		image = "root-nand.ubi"
		size = 20M
	}
	partition data {
		image = "data-nand.ubi"
		size = 0
	}
}

image root-nor-32M-64k.jffs2 {
	name = "root"
	flashtype = "nor-64M-128k"
	jffs2 {}
	size = 24M
	mountpoint = "/"
}

image data-nor-32M-64k.jffs2 {
	name = "data"
	flashtype = "nor-64M-128k"
	size = 0
	jffs2 {
		extraargs = "-l"
	}
	mountpoint = "/data"
}

image nand-pcm037.img {
	flash {
	}
	flashtype = "nand-64M-512"
	partition barebox {
		image = "barebox-pcm037.bin"
		size = 512K
	}
	partition bareboxenv {
		image = "bareboxenv-pcm037.bin"
		size = 512K
	}
	partition kernel {
		image = "kernel-imx.bin"
		size = 4M
	}
	partition root {
		image = "root-nand.ubi"
		size = 20M
	}
	partition data {
		image = "data-nand.ubi"
		size = 0
	}
}

image data-nand.ubi {
	ubi {}
	partition data {
		autoresize = true
		image = "data-nand.ubifs"
	}
	partition root {
		image = "data-nand.ubifs"
	}
}

image data-nand.ubifs {
	ubifs {}
	name = "data"
	size = 128M
	mountpoint = "/data"
}

image barebox-pcm038.bin {
	name = "barebox"
	file {}
}

image bareboxenv-pcm038.bin {
	name = "bareboxenv"
	file {}
}

image barebox-pcm037.bin {
	name = "barebox"
	file {}
}

image bareboxenv-pcm037.bin {
	name = "bareboxenv"
	file {}
}

image kernel-imx.bin {
	name = "kernel"
	file {
		name = "zImage-linux-2.6.39-imx"
	}
}

image root-nand.ubi {
	name = "root"
	ubi {}

	partition root {
		image = "root-nand.ubifs"
	}
}

image root-nand.ubifs {
	name = "root"
	size = 128M
	ubifs {}
	mountpoint = "/"
}

image hdimg.img {
	hdimage {}

	partition root {
		offset = 2M
		size = 128M
		partition-type = 0x78
		image = "root.ext2"
	}
	partition data {
		size = 20M
		partition-type = 0x1a
		image = "data.ext2"
	}

	size = 2G
}

image root.ext2 {
	ext2 {}
	size = 128M
	mountpoint = "/"
}

image data.ext2 {
	ext2 {}
	size = 20M
	mountpoint = "/data"
}

config {
	outputpath = images
	inputpath = input
	rootpath = root
	tmppath = tmp
}

